<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CAMERA"/>

    <application
        android:name=".Aplicacion"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test4"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAaLR-LdWOBIf1pDXFq8nDi3-j67uiheo" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".ServicioGPS"
            android:foregroundServiceType="location"
            android:exported="true"
            android:enabled="true"/>

        <receiver
            android:name=".ServicioBoot"
            android:directBootAware="true"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:enabled="true" android:exported="true" android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".IniciarSesion">
            <!-- Puedes agregar configuraciones adicionales aquí -->
        </activity>

        <activity android:name=".Mapa">
            <!-- Puedes agregar configuraciones adicionales aquí -->
        </activity>

        <activity android:name=".Pedidos">
            <!-- Puedes agregar configuraciones adicionales aquí -->
        </activity>

        <activity android:name=".AsignarPedido">
            <!-- Puedes agregar configuraciones adicionales aquí -->
        </activity>

        <activity android:name=".Manejador">
            <!-- Puedes agregar configuraciones adicionales aquí -->
        </activity>

    </application>

</manifest>